.course{
    width: 30%;
    margin: 10px;
    overflow: hidden;
    background:rgb(240, 240, 240);
    border-radius: 8px;
  
    
}
.title{
    color: rgb(47, 169, 169);
}
p{
    font-size: 18px;
}
.course img{
    width: 100%;
    opacity: .8;
    transition:.5s;
}
.course:hover img{
    transform: scale(1.2);
    opacity: 1;
}